/* body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.normal {
    background-color: #77dd77;
    color: white;
}

.moderate {
    background-color: grey;
    color: white;
}

.severe {
    background-color: #ff6961;
    color: white;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  #mainSearchButton {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    text-align: center;
  }
  
  #mainSearchButton i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
   */
